@font-face {
  font-family: Bookmania;
  src: url(fonts/fonnts.com-Bookmania.otf);
}
@font-face {
  font-family: Modesto_Condensed;
  src: url(fonts/modesto-condensed.otf);
}

* {
  /*Reset Margin & Padding & sets every text to Bookmania*/
  margin: 0;
  padding: 0;
  font-family: Bookmania, "Times New Roman", Times, serif;
}

html,
body {
  background-color: #f7e5de;
  max-width: 100%;
  overflow-x: hidden;
}

main > h2 {
  color: #8b4e4e;
  padding: 20px 10px;
}

.event_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.events {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  gap: 40px;
}

.events:nth-child(odd) {
  background-color: #e9d0b9;
}

.events:nth-child(even) {
  flex-direction: row-reverse;
}

.event_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #8b4e4e;
  padding: 0;
}

/* Adds bullet points */
.event_info h2::before {
  content: "\2022";
  color: #8b4e4e;
  margin-right: 10px;
}

.event_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event_img img {
  width: 30vw;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #8b4e4e;
  color: #f7e5de;
}

.header_bar {
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.header_bar img {
  width: 7%;
  height: 7%;
}

.header_title h1 {
  font-family: Modesto_Condensed;
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8b4e4e;
  color: #f7e5de;
}

.footer_bar {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.footer_bar img {
  width: 5%;
  height: 5%;
}

/* navigation stuff */
nav {
  float: right;
  padding-right: 30px;
}

.header_nav {
  padding-left: 5px;
}

.header_nav ul,
.footer_nav ul {
  list-style-type: none;
}

.header_nav li,
.footer_nav li {
  display: inline-block;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #f7e5de;
}

a:hover {
  text-decoration: underline;
}

.header_nav a:hover,
.footer_nav a:hover {
  text-decoration: underline;
}

.header_nav a:active,
.footer_nav a:active {
  font-size: 0.95em;
}

a.active {
  font-weight: bold;
  background-color: #733a3a;
  text-decoration: underline;
}

.button {
  border: 0;
  background-color: #8b4e4e;
  color: #f7e5de;
  padding: 10px 20px;
  margin: 10px;
}

.button:hover {
  background-color: #733a3a;
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}

/* Mobile Phone */
@media only screen and (max-width: 600px) {
  .events {
    flex-direction: column-reverse;
  }

  .events:nth-child(even) {
    flex-direction: column-reverse;
  }

  .event_info {
    text-align: center;
    align-items: center;
  }

  .event_img img {
    width: 100vw;
    height: auto;
  }

  .header_bar img {
    width: 20%;
    height: 20%;
  }

  .header_nav {
    padding-bottom: 5px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_bar {
    margin-bottom: 10px;
    justify-content: center;
  }

  .footer_bar img {
    width: 10%;
    height: 10%;
  }

  .footer_nav li {
    display: block;
    margin: 5px 0;
  }
}

/* Tablet / Landscape */
@media only screen and (max-width: 1024px) {
  .header_nav {
    padding-bottom: 5px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_bar {
    margin-bottom: 10px;
    justify-content: center;
  }

  .footer_bar img {
    width: 10%;
    height: 10%;
  }

  .footer_nav li {
    display: block;
    margin: 5px 0;
  }
}
